/node_modules
/public/build
/public/hot
/public/storage
/storage/\*.key
/dist
/vendor
.env
.env.backup
.env.production
sales-score-pass.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/docs
